<?xml version="1.0" encoding="utf-8"?>
<game>
  <category>
    <name>TBD</name>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
  </category>
  <category>
    <name>TBD</name>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
  </category>
  <category>
    <name>TBD</name>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
  </category>
  <category>
    <name>TBD</name>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
  </category>
  <category>
    <name>TBD</name>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
  </category>
  <tiebreaker>
    <question>
      <name>TBD</name>
      <answer>TBD</answer>
    </question>
  </tiebreaker>
</game>
